[submodule "littleq-zshrc"]
	path = littleq-zshrc
	url = git@github.com:littleq0903/littleq-zshrc.git

[submodule "littleq-vimrc"]
	path = littleq-vimrc
	url = git@github.com:littleq0903/littleq-vimrc.git
